



.meteo-row, .header-row {
    width: 100%;
    //border-bottom: 1px solid #AAAAAA;

    &>div {
        border-right: 1px solid #AAAAAA;
    }  

    .first {
        border-left: 1px solid #AAAAAA;
        background-color:beige;
        width:120px;
    }
    .number {
        width: 250px;
    }
    .date {
        width: 360px;
    }
    .wide {
        width: 100%;
    }
    .actions {
        width:200px;
        button {
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
    }
}

.header-row {
    background-color: #AAAAAA;
    color: #FFFFFF;
    .first {
        background-color:#AAAAAA !important;
    }
    div {
        font-size: 0.9em;
        font-weight: 600;
        border-right: 1px solid #ffffff !important;
    }
    .actions {
        border-right: none !important;
        border-bottom: 1px solid #FFFFFF;
    }
}

.meteo-row {
    .data {
        border-bottom: 1px solid #EEEEEE;
    }
    .date {
        width: 360px;
        font-size: 0.8em;
        margin-top: 2px;
    }
    .wide {
        border-right-color: #FFFFFF;
    }
    .actions {
        border-right: none !important;
        border-bottom: 1px solid #FFFFFF;
    }
}

.footer-row {
    width: 100%;
    height: 10px;
    background-color: #5d5d5d;
}

button {
    height: 32px;
    margin: 0 0 0 2px;
    padding: 0;
    width: 28px;

    &:first-child {
        margin-left: 0;
    }
}

