<div class="content content-min-height content-margin-top white-text-content" role="main">
    <h1>Meteo data list</h1>

    <list-paginator [parentApi]="getParentApi()" [pageSize]="10" [maxPages]="10"></list-paginator>

    <div class="header-row d-flex flex-row">
        <div class="first p-2">N.</div>
        <div class="date p-2">Data/ora</div>
        <div class="number p-2">Temp. aria</div>
        <div class="number p-2">Umid. aria</div>
        <div class="number p-2">Vel. vento</div>
        <div class="wide p-2">Direz. vento</div>
        <div class="actions"><button class="btn btn-primary" (click)="goto('/meteo-edit')"><fa-icon icon="plus"></fa-icon></button></div>
    </div>

    <div *ngFor="let r of list; let i=index" class="meteo-row d-flex flex-row align-items-center align-items-stretch">
        <div class="data first p-2">{{i+1}}</div>
        <div class="data date p-2">{{r.date.toLocaleString("it-IT")}}</div>
        <div class="data number p-2">{{r.air.temp}}</div>
        <div class="data number p-2">{{r.air.humidity}}</div>
        <div class="data number p-2">{{r.wind.velocity}}</div>
        <div class="data wide p-2">{{r.wind.degrees}}</div>
        <div class="actions">
            <div class="row no-gutters" style="height: 100%">
                <div class="col-6"><button class="btn btn-primary" (click)="edit(r.uuid);"><fa-icon icon="pencil-alt"></fa-icon></button></div>
                <div class="col-6"><button class="btn btn-danger" (click)="delete(r.uuid);"><fa-icon icon="trash-alt"></fa-icon></button></div>
            </div>
        </div>
    </div>

    <div class="footer-row"></div>

</div>
