<div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Button dropdown <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
        <li role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
            <a dropdownToggle class="dropdown-item dropdown-toggle"
                (click)="false">Hover me for nested dropdown <span class="caret"></span></a>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested-dropdowns">Bction</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested-dropdowns">Bction1</a></li>
            </ul>
        </li>
    </ul>
</div>