<nav *ngIf="pager.pagesNumber>1" aria-label="...">
    <ul class="paginator">

      <li *ngIf="isSkippablePagesBlock(-1)" class="page-item pager-block pager-first-block" (click)="setFirstPage(1)">
        <a class="page-link page-command"><span>1</span><i class="fa fa-fast-backward"></i></a>
      </li>
      <li *ngIf="isSkippablePagesBlock(-1)" class="page-item pager-block pager-prev-block" (click)="skipPagesBlock(-1)">
        <a class="page-link page-command"><span>{{toSkipPagesBlock(-1)}}</span><i class="fa fa-backward"></i></a>
      </li>
      <li *ngIf="pager.activePage>1" class="page-item pager-block pager-prev-page hide-if-small-mode" (click)="skipPage(pager.activePage-1)">
        <a class="page-link page-command"><span>{{pager.activePage-1}}</span><i class="fa fa-caret-left"></i></a>
      </li>


      <li *ngFor="let k of pages" class="page-item pager-page" [ngClass]="{'active-page':k==pager.activePage}"><a class="page-link" (click)="skipPage(k)">{{k}}</a></li>


      <li *ngIf="pager.activePage+1<=pager.pagesNumber" class="page-item pager-block pager-next-page hide-if-small-mode" (click)="skipPage(pager.activePage+1)">
        <a class="page-link page-command"><i class="fa fa-caret-right"></i><span>{{pager.activePage+1}}</span></a>
      </li>
      <li *ngIf="isSkippablePagesBlock(+1)" class="page-item pager-block pager-next-block" (click)="skipPagesBlock(+1)">
        <a class="page-link page-command"><i class="fa fa-forward"></i><span>{{toSkipPagesBlock(+1)}}</span></a>
      </li>
      <li *ngIf="isSkippablePagesBlock(+1)" class="page-item pager-block pager-last-block" (click)="skipLastBlock()">
        <a class="page-link page-command"><i class="fa fa-fast-forward"></i><span>{{toSkipLastBlock()}}</span></a>
      </li>

    </ul>
  </nav>
