nav {
    margin-top: 20px;

    ul {
        margin: 5px auto;
        display: table;

        li {
            margin: 2px;
            a {
                height: 28px;
                padding-top:  4px;
                font-size: 14px;
            }
        }

        li.pager-block {
            width: 64px;
            text-align: center;
        }
        li.pager-page a {
            width: 40px;
            text-align: center;
        }
        li.active-page a{
            background-color:#656565;
            border-color: #656565;
            color: #ffffff;
        }
    }
    i {
        background-color: initial;
    }
    i + span {
        margin-left: 5px;
    }

    .page-link {
        border-color: #ededed;
        color: #656565;
    }
    .pager-prev-page {
        margin-right: 20px;
    }
    .pager-next-page {
        margin-left: 20px;
    }
    .page-command {
        background-color: #55acee;
        color: #ffffff;
        border-color: #55acee;
    }
}

li.pager-page a {
    width: 40px;
    text-align: center;
}
li.active-page a{
    background-color:#656565;
    border-color: #656565;
    color: #ffffff;
}


.paginator, .paginator .page-item {
    display: inline-block;
}

.paginator {
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}
.paginator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}
