<div class="content content-min-height content-margin-top" role="main">
    <h1>Typescript Math Toolkit Cubic Bezier Explorer</h1>
    <h4>cliccare su quattro punti nell'area sottostante</h4>
    <h6>... e spostare i punti per modificare la curva</h6>

    <div>
        <div cubic-bezier width="800" height="400" class="bezier-container" (point)="onPoint($event)" (length)="onLength($event)">
        </div>
    
        <!-- this would normally be a separate component, but for demo purposes the controls are in-lined into the main app layout -->
        <div class="bezier-control-container">
            <p class="title">{{statusTxt}}</p>
            <p class="title">{{arcLengthTxt}}</p>
    
            <div class="bezier-controls">
                <button class="clear-button" (click)="onClear()">Clear</button>
                <span>
                    <label class="check-container check-blue">Equal-t
                        <input type="checkbox" (change)="onShowT($event)">
                        <span class="checkmark"></span>
                    </label>
    
                    <label class="check-container check-green">Equal-s
                        <input type="checkbox" (change)="onShowS($event)">
                        <span class="checkmark"></span>
                    </label>
                </span>
            </div>
        </div>
    </div>
</div>

