.bezier-container
{
  width: 800px;
  height: 400px;

  transition: 0.3s;
}

.bezier-container:hover
{
  background-color: rgba(0, 0, 0, 0.1);
}

.bezier-control-container
{
  width: 600px;
  margin-top: 20px;
  margin-bottom: 24px;
}

.bezier-controls
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title
{
  font-size: 10px;
  font-weight: bold;
}

.check-blue
{
  color: #0000ff;
  font-weight: bold;
}

.check-green
{
  color: #006400;
  font-weight: bold;
}

/* Some (mostly) ripped-off-from-the-internet checkbox styling - modify as you see fit */
.check-container
{
  display: inline-block;
  font-size: 11px;
  position: relative;
  padding-left: 20px;
  padding-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container input
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark
{
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.check-container:hover input ~ .checkmark
{
  background-color: #ccc;
}

.check-container input:checked ~ .checkmark
{
  background-color: #2196F3;
}

.checkmark:after
{
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .checkmark:after
{
  display: block;
}

.check-container .checkmark:after
{
  left: 3px;
  top: 0px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* And, here is some ripped off button styling ... CSS generators are cool ... again, modify to suit your taste */
.clear-button
{
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#7892c2;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:10px 16px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}

.clear-button:hover
{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color:#476e9e;
}

.clear-button:active
{
  position:relative;
  top:1px;
}