<div class="menu-wrapper demos-component">
    <div class="container main-container h-no-padding">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg bg-primary">
                    <div class="container">
                        <div><a class="navbar-brand">Componenti</a></div>
                        <div class="menu-collapse">

                            <div class="btn-group" dropdown>
                                <button id="button-disabled-item" dropdownToggle type="button"
                                    class="btn btn-primary dropdown-toggle" aria-controls="dropdown-disabled-item">
                                    ngx-bootstrap <span class="caret"></span>
                                </button>
                                <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                    role="menu" aria-labelledby="button-disabled-item">
                                    <li role="menuitem"><a class="dropdown-item" href="#/demo/dates">Date picker</a>
                                    </li>
                                    <li role="menuitem"><a class="dropdown-item" href="#/demo/timepicker">Time
                                            picker</a></li>
                                    <li role="menuitem"><a class="dropdown-item disabled" href="#">Disabled item</a>
                                    </li>
                                    <li role="menuitem"><a class="dropdown-item" href="#/demo/buttons">Buttons</a></li>
                                </ul>
                            </div>
                        </div>
                        <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                            data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                            aria-label="Toggle navigation" (click)="sidebarToggle()">
                            <span class="navbar-toggler-bar"></span>
                            <span class="navbar-toggler-bar"></span>
                            <span class="navbar-toggler-bar"></span>
                        </button>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row py-2">
            <div class="col-12 mr-auto ml-auto">
                <div class="panel-level-2">

                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>
</div>