<div class="wrapper">
    <div class="row">
         <div class="col-12">
              <div ng2FileDrop
                  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                  (fileOver)="fileOverBase($event)"
                  [uploader]="uploader"
                  class="well my-drop-zone d-flex align-items-center">
                  <div style="width:100%">
                    trascinare qui i file ({{allowedFileTypes}}) o cliccare su "Selezione"
                  </div>
                  <div>
                    <label class="btn custom-input-btn">
                      <input type="file" ng2FileSelect [uploader]="uploader" name="picture" style="display:none" accept="*" multiple>        
                      <i class="fa fa-cloud-upload"></i> Selezione
                    </label>
                  </div>
              </div>
        </div>
  
        <div class="col-12" style="margin-bottom: 40px">
            <div class="d-flex flex-column">
              <div *ngFor="let item of uploader.queue; let i = index" class="items-row">
                <!-- ROW -->
                <!--------->
                <div class="d-flex flex-row align-items-center justify-content-end">
                  <!-- DETAIL action -->
                  <div style="width: 34px;">
                    <button type="button" class="btn btn-info btn-just-icon h-btn-small-icon" (click)="setVisible(i)"><i class="fa fa-file-text-o"></i></button>
                  </div>
  
                  <!-- FILE INFO -->
                  <div class="d-flex flex-row align-items-center justify-content-end" style="width: 100%">
                    <div class="p-2 file-name" style="width: 100%"><strong>{{ item?.file?.name }}</strong></div>
                    <div class="p-2 file-size h-no-wrap">{{ item?.file?.size/1024 | number:'.2' }} KB</div>
                    <div class="p-2" style="width: 60px">
                      <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                      </div>
                    </div>
                  </div>
  
                  <!-- actions -->
                  <div class="h-no-wrap">
                    <button *ngIf="uploadButtonsEnabled" type="button" class="btn btn-success btn-just-icon h-btn-small-icon" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess"><i class="fa fa-cloud-upload"></i></button>
                    <button *ngIf="cancelButtonsEnabled" type="button" class="btn btn-warning btn-just-icon h-btn-small-icon" (click)="item.cancel()" [disabled]="!item.isUploading"><i class="fa fa-times"></i></button>
                    <button type="button" class="btn btn-danger btn-just-icon h-btn-small-icon" (click)="remove(i)"><i class="fa fa-times"></i></button>
                  </div>
                </div>
  
                <!-- DETAILS -->
                <!------------->
                <div class="h-details" [hidden]="!isVisible(i)">
                  <div class="form-group h-left-aligned-text">
                    <label for="name" class="strong">Nome:</label>
                    <input type="text" class="form-control" name="name" placeholder="Nome" [(ngModel)]="items[i].name" autocomplete="off">
                  </div>
                  <div class="form-group h-left-aligned-text">
                    <label for="info" class="strong">Descrizione:</label>
                    <textarea class="form-control" [name]="'description'+i" placeholder="Descrizione" [(ngModel)]="items[i].description"></textarea>
                  </div>
                  <div class="form-group h-left-aligned-text">
                    <label for="originalFileName" class="strong">Nome originale:</label>
                    <input type="text" class="form-control" name="originalFileName" placeholder="Nome originale" [(ngModel)]="items[i].originalFileName" autocomplete="off">
                  </div>
                  <div class="form-group h-left-aligned-text">
                    <label for="label" class="strong">Etichetta:</label>
                    <input type="text" class="form-control" name="label" placeholder="Etichetta" [(ngModel)]="items[i].label" autocomplete="off">
                  </div>
                  <div class="form-group h-left-aligned-text">
                    <label for="type" class="strong">Tipo:</label>
                    <input type="text" class="form-control" name="type" placeholder="Tipo" [(ngModel)]="items[i].type" autocomplete="off">
                  </div>
                  <div class="form-group h-left-aligned-text">
                    <label for="lastName" class="strong">Tags:</label>
                    <input type="text" class="form-control" name="tags" placeholder="Inserire i tags, separati da virgole" [(ngModel)]="items[i].tags" autocomplete="off">
                  </div>
                  <div *ngIf="topic" class="d-flex flex-column h-left-aligned-text">
                    <label for="topic" class="strong">Topic:</label>
                    <div class="d-flex flex-row align-items-center h-header">
                      <div class="h-left-aligned-text">{{topic+'/'}}</div>
                      <div class="h-left-aligned-text" style="margin-left:8px; width:100%;">
                        <input type="text" class="form-control" name="topic" placeholder="Inserire un eventuale sub-topic" [(ngModel)]="items[i].topic" autocomplete="off">
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
  
            <div *ngIf="uploader?.queue?.length>0">
                <div class="row">
                  <div class="col-12"><strong>Per caricare</strong> uno specifico file cliccare sul pulsantino verde corrispondente.</div>
                  <div class="col-12"><strong>Per annullare il caricamento</strong> di uno specifico file cliccare sul pulsantino rosso corrispondente.</div>
                </div>
  
                <div class="row">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
  
                <div *ngIf="uploader?.queue?.length>1" style="text-align: center;margin-top: 20px">
                  <button *ngIf="uploadButtonsEnabled" type="button" class="btn btn-success btn-s"
                          (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    Carica tutti
                  </button>
                  <button *ngIf="cancelButtonsEnabled" type="button" class="btn btn-warning btn-s"
                          (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    Annulla tutti
                  </button>
                  <button type="button" class="btn btn-danger btn-s"
                          (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    Rimuovi tutti
                  </button>
                </div>
            </div>
        </div>
    </div>
  </div>
