button:focus{
    outline: none;
}

.h-confirmation-message {
    strong.h-text-highlighted {
        background-color: #e7f3fc;
        padding: 0 6px;
        border-radius: 5px;
    }
    strong.h-highlighted {
        background-color: #55acee;
        color: #ffffff;
        display: inline-block;
        border-radius: 10px;
        font-size: 15px;
        padding: 10px;
        margin: 5px;
    }
    input {
        margin-top:20px;
    }
}

.modal-footer button {
    margin: 10px auto;
}
