<div class="content-min-height content-margin-top headers-centered row no-gutters" role="main">
  <div class="col-2 d-none d-lg-block px-2">
        <!-- LEFT AREA -->
  </div>

  <div class="col-lg-8 px-4">
    <div class="section landing-section">
      <app-contact [attachmentEnabled]="false"></app-contact>
    </div>
  </div>

  <div class="col-2 d-none d-lg-block px-2"> 
    <!-- RIGHT AREA -->
  </div>
</div>