<div>
    <div class="modal-header">
      <h5 class="modal-title text-center">{{title}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="closeEvent(false)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body h-center" [innerHTML]="text | safeHtml"></div>
    <div class="modal-footer">
      <button *ngIf="cancelButtonText" type="button" autofocus class="btn btn-default"
        (click)="closeEvent(false)">{{cancelButtonText}}</button>
      <button *ngIf="confirmButtonText" type="button" autofocus class="btn btn-default"
        (click)="closeEvent(true)">{{confirmButtonText}}</button>
    </div>
</div>
