<div class="modal-header">
    <h5 class="modal-title text-center">Codice di conferma</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeEvent()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body h-confirmation-message">
    <div *ngIf="waitingForEmailConformation" class="h-center">
        <strong class="h-text-highlighted">E' stato inviato un messaggio contenente un codice di conferma</strong> al seguente indirizzo di posta elettronica:
        <div class="h-highlighted">{{email}}</div>
        <strong class="h-text-highlighted">Accedere alla casella di posta, inserire il codice ricevuto</strong> e cliccare sul pulsante "verifica il codice"<br />
        <br />
        Non confermando immediatamente l'indirizzo si procederà con l'accesso ma alcune funzionalità potrebbero essere inibite.
        In alternativa è possibile cliccare sul link presente nello stesso messaggio e successivamente rieffettuare il login oppure
        rieseguire la procedura di conferma attivabile nell'area "profilo".
    </div>
    <div *ngIf="waitingForMobileConformation" class="h-center">
        E' stato inviato un SMS contenente un <strong class="h-text-highlighted">codice di conferma</strong> al seguente numero di telefono<br />
        <strong class="h-highlighted">{{mobile}}</strong><br /><br />
        Inserire il codice ricevuto e cliccare sul pulsante "verifica il codice"<br />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [ngClass]="{'bad-code':badCode}" name="confirmationCode" placeholder="Inserire il codice di conferma ricevuto in e-mail" [(ngModel)]="confirmationCode" autocomplete="off">
        <div *ngIf="badCode"><small id="passwordHelp" class="text-danger">il codice non è corretto</small></div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" autofocus class="btn btn-default" (click)="fireEvent()">verifica il codice</button>
</div>