button:focus{
    outline: none;
}

.h-confirmation-message {
    strong.h-text-highlighted {
        background-color: #e7f3fc;
        padding: 0 6px;
    }
    div.h-highlighted {
        text-align: center;
        margin: 10px 0;
        font-weight: 600;
        font-size: 1.1em;
    }
    input {
        margin-top:20px;
    }
}

.modal-footer button {
    margin: 10px auto;
}

.bad-code {
    background-color: #ffe2e2;
}