input.text-danger {
    background-color: #fdeaea !important;
}
.h-password-error ul {
    padding-left: 20px;
}
.privacy-acceptance {
    color: #35393e;
    text-align: center;
    background-color: #ffffff40;
    padding: 5px;
    font-weight: bold;
}
.mandatory-option {
    color:#ffffff;
}
.form-check button {
    margin: 0 0 0 5px;
}

.card-register {
    margin-top: 25px;
}
@media screen and (max-width: 991px) {
    .card-register {
        margin-top: 90px;
    }
}