<div class="content content-min-height content-margin-top" role="main">
    <h1>Pixi example</h1>

    <div>
        <div pixi-example width="600" height="400" class="pixi-example-container"></div>
    </div>
</div>