<div class="content content-min-height content-margin-top white-text-content" role="main">
  <h1>Angular2 Edit Meteo data</h1>

  <div class="container">
    <div class="row">
      <div class="form col-12 mr-auto ml-auto">
        <form class="edit-form">

          <h3>Aria</h3>
          <div class="row">
            <div class="col-md-6">
              <label>Temperatura</label>
              <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                <input type="text" [(ngModel)]="data.air.temp" [ngModelOptions]="{standalone: true}"
                  class="form-control" placeholder="Temperatura (°C)" (focus)="focus=true" (blur)="focus=false">
              </div>
            </div>
            <div class="col-md-6">
              <label>Umidità (densita del vapore acqueo)</label>
              <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                <input type="text" [(ngModel)]="data.air.humidity" [ngModelOptions]="{standalone: true}"
                  class="form-control" placeholder="Umidità (kg/m3)" (focus)="focus=true" (blur)="focus=false">
              </div>
            </div>
          </div>

          <h3>Vento</h3>
          <div class="row">
            <div class="col-md-6">
              <label>Velocità</label>
              <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                <input type="text" [(ngModel)]="data.wind.velocity" [ngModelOptions]="{standalone: true}"
                  class="form-control" placeholder="Velocità (nodi))" (focus)="focus=true" (blur)="focus=false">
              </div>
            </div>
            <div class="col-md-6">
              <label>Direzione</label>
              <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                <input type="text" [(ngModel)]="data.wind.degrees" [ngModelOptions]="{standalone: true}"
                  class="form-control" placeholder="Direzione (gradi, [-180,180]))" (focus)="focus=true"
                  (blur)="focus=false">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col d-flex justify-content-center my-2">
              <button *ngIf="!uuid" class="btn btn-primary btn-fill" (click)="insert()">Inserisci</button>
              <button *ngIf="uuid" class="btn btn-primary btn-fill" (click)="update()">Modifica</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <a [routerLink]="['/meteo-list']" class="btn btn-primary">Meteo data list</a>
</div>