a.btn  {
    color:#ffffff;
    margin: 5px;
    padding: 5px;
}

.container {
    background-color:#00000011;
    .edit-form {
        margin: 20px 0;

        h3 {
            margin-top: 20px;
        }
    }
}
