.container {
    .form {
        background-color: #0000009c;
        border-radius: 25px;
        padding: 15px;
    }

    h3, label {
        color: #ffffff;
    }
    .row {
        margin-top: 10px;
    }
    button {
        width: 100%;
    }

    .input-group {
        background: #ffffffbf;
        border-radius: 5px;
        border: initial;
    }

    .input-group .input-group-prepend .input-group-text {
        border: initial !important;
    }

}