<div class="wrapper">
    <div class="inner-header" data-parallax="true" style="background-image: url('./assets/images/trees.png');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content content-min-height">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src={{getPictureUrl()}} onerror="this.src='./assets/images/no-picture.png'" alt="avatar" class="img-circle img-no-padding img-responsive h-img-bordered">
                    <button *ngIf="user.picture" type="button" class="btn btn-danger btn-just-icon h-btn-small-icon" style="position: relative; top: -5px;" (click)="deletePicture()"><i class="fa fa-times"></i></button>
                </div>
                <div class="name">
                    <h4 class="title">{{getFullName()}} ({{getEMail()}})</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>{{user.info}}</p>
                    <br />
                    <a [routerLink]="['/settings']" class="btn btn-primary btn-round">Amministrazione del profilo</a>
                </div>
            </div>
        </div>
    </div>
</div>
