<div class="h-tab-content list">
  <h1 *ngIf="type=='text'">Testi</h1>
  <h1 *ngIf="type=='image'">Immagini</h1>
  <h1 *ngIf="type=='file'">Allegati</h1>

    <div class="row filter">
      <div class="col-12 filter-header">Filtri</div>

      <div class="col-12 col-lg-6 d-flex align-items-stretch flex-row align-items-center topic-filter">
        <label class="d-flex align-items-center justify-content-end strong"><span>Topic:</span></label>
        <input type="text" class="d-flex align-items-center form-control" name="topic" placeholder="topic"
            [(ngModel)]="topic" (ngModelChange)="fireFilterChanged($event)" autocomplete="off">
      </div>

      <div class="col-12 col-lg-6 d-flex align-items-stretch flex-row align-items-center search-string-filter">
        <label for="searchString" class="d-flex align-items-center justify-content-end strong"><i class="fa fa-search"></i></label>
        <input type="text" class="d-flex align-items-center form-control" name="searchString" placeholder=""
            [(ngModel)]="searchString" (ngModelChange)="fireFilterChanged($event)" autocomplete="off">
      </div>
    </div>

    <div class="content-row">

      <div class="content-row content-header-row">
        <div class="d-flex align-items-stretch flex-row align-items-center items-row">
          <div class="d-flex align-items-center px-2 icon-cell">&nbsp;</div>
          <div class="d-flex align-items-center px-2 edit-cell">&nbsp;</div>
          <div class="d-flex align-items-center px-2 name-cell">name</div>
          <div class="d-flex align-items-center px-2 size-cell">dim</div>
          <div class="d-flex align-items-center px-2 mimetype-cell">tipo</div>
          <div class="d-flex align-items-center px-2 topic-cell">topic</div>
          <div class="d-flex align-items-center px-2 actions-cell">azioni</div>
        </div>
      </div>
  
      <!-- LOOP ROWS-->
      <div *ngFor="let content of contents; let i = index" class="content-row">

        <div class="d-flex align-items-stretch flex-row align-items-center items-row">
          <div class="d-flex align-items-center icon-cell px-2">
            <i *ngIf="content.mimeType.startsWith('text')" class="fa fa-file-text-o"></i>
            <i *ngIf="content.mimeType.startsWith('image')" class="fa fa-image"></i>
            <i *ngIf="content.mimeType.startsWith('application/pdf')" class="fa fa-file-pdf-o"></i>
            <i *ngIf="content.mimeType=='application/octet-stream'" class="fa fa-file-text-o"></i>
          </div>
          <div class="d-flex align-items-center edit-cell px-2 py-1">
            <button type="button" class="btn btn-primary btn-just-icon h-btn-small-icon" placement="right" (click)="editCurrentItem(i)">
              <i class="fa fa-pencil"></i>
            </button>
          </div>
          <div class="d-flex align-items-center name-cell px-2">
            <strong>{{content.name}}</strong>
          </div>
          <div class="d-flex align-items-center justify-content-end size-cell px-2">{{ content.size>0?content.size+' B':'' }}</div>
          <div class="d-flex align-items-center mimetype-cell px-2">{{ content.mimeType }}</div>
          <div class="d-flex align-items-center topic-cell px-2">{{ content.topic }}</div>
          <div class="d-flex align-items-center actions-cell px-2">
            <button type="button" class="btn btn-success btn-just-icon h-btn-small-icon"
              (click)="download(content.URL, content.originalName)"><i class="fa fa-cloud-download"></i></button>
            <a [href]="content.URL" target="_blank"
              class="btn btn-success btn-just-icon h-btn-small-icon" style="padding-top: 9px;"><i class="fa fa-link"></i></a>
            <button type="button" class="btn btn-danger btn-just-icon h-btn-small-icon"
              (click)="deleteCurrentItem(i)"><i class="fa fa-times"></i></button>
          </div>
        </div>

      </div>

    </div>
  
  </div>
  