.footer{
    background-attachment: fixed;
    position: relative;

    background-color: #000000dd;
    padding: 25px 10px;
    color: #ffffff;
    .policy, .credits {
      line-height: 26px;
    }
    a {
        color:#ffffff;
    }
}

.footer nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.footer nav > ul > li{
    display: inline-block;
    padding: 10px 15px;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center;
}

.footer nav > ul a:not(.btn) {
  color: #777777;
  display: block;
  margin-bottom: 3px;
}

.footer nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus {
  color: #E3E3E3;
}

.footer .copyright {
  color: #ffffff5e;
  padding-right: 15px;
  font-size: 1.0em;
}

.footer .heart{
    color: #EB5E28;
}

.dynamic-background-color {
  padding: 0 5px;
  border-radius: 10px;
  color:#000000;
  font-size: 0.9em;
}