<nav class="navbar navbar-high navbar-expand-lg fixed-top flex-column" color-on-scroll="500">
    <div class="fixed-top h-message-scroller" [hidden]="!isMessageAreaVisible">{{lastMessage}}</div>

    <div class="navbar-top">
        <div class="px-2">
            <div class="navbar-translate">
                <div class="top-bar d-flex flex-row align-items-start align-items-center">
                    <div class="logo">
                        <div class="brandized"><span class="dynamic-background-color">A</span>ngular2 - TPSIT template</div>
                    </div>
                    <div class="profile d-flex" style="width: 100%;">
                        <div class="first"></div>

                        <div class="second ml-auto p-2">
                            <div *ngIf="userService.isUserLogged()" class="full-name">
                                <div class="user-fullname">{{userService.getFullName()}}</div>
                            </div>
                            <div class="d-flex align-items-center commands">
                                <div *ngIf="userService.isUserLogged()">
                                    <a href="#/profile" class="align-items-center">
                                        <fa-icon icon="user-circle"></fa-icon>
                                        <span>Profilo</span>
                                    </a>
                                </div>
                                <div *ngIf="userService.isUserLogged()">
                                    <a (click)="logout()" class="align-items-center">
                                        <fa-icon icon="sign-out-alt"></fa-icon>
                                        <span>Log-out</span>
                                    </a>
                                </div>
                                <div *ngIf="!userService.isUserLogged()">
                                    <a href="#/signup" class="align-items-center">
                                        <fa-icon icon="sign-in-alt"></fa-icon>
                                        <span>Sign-in</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hide-if-small-mode align-self-center">
                        <div class="top-commands d-flex flex-row justify-content-end align-self-center">
                        </div>
                    </div>
                </div>
            </div>

            <!-- MENU LATERALE -->
            <!-- ============= -->
            <div class="navbar-collapse" id="navbarToggler">
                <div class="navbar-nav ml-auto">
                    <app-collapsed-menu></app-collapsed-menu>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex h-nav-menu" *ngIf="isLargeSize()">
        <ul class="navbar-nav container">
            <li class="nav-item">
                <a [routerLink]="['/whoweare']" class="nav-link icon"><fa-icon icon="question-circle"></fa-icon></a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/landing']" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/demo']" class="nav-link">Bootstrap components</a>
            </li>

            <div class="btn-group" dropdown>
                <button id="button-disabled-item" dropdownToggle type="button"
                    class="btn btn-primary dropdown-toggle" aria-controls="dropdown-disabled-item">Esempi<span class="caret"></span>
                </button>
                <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="button-disabled-item">
                    <li role="menuitem"><a class="dropdown-item" href="#/link2">Cubic Bezier Explorer</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/link3">Pixi.js demo</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/link4">Links list example</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/meteo-edit">Edit METEO</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/meteo-list">list METEO</a></li>
                </ul>
            </div>

            <div *ngIf="userService.isUserInOneOfRoles('admin,tester')" class="btn-group" dropdown>
                <button id="button-disabled-item" dropdownToggle type="button"
                    class="btn btn-dark dropdown-toggle" aria-controls="dropdown-disabled-item">
                    amministrazione<span class="caret"></span>
                </button>
            </div>
        </ul>
    </div>
</nav>
