.navbar-transparent {
    background: #150808a3  !important;
}

.navbar-top {
    width: 100%;
    height: 76px;
    background-color: #000000;
    z-index: inherit;
}


.navbar-high {
    background: #15080888;
}
.navbar-low {
    background: #150808;
}


.navbar {
    .logo-image {
        width: 165px;
        margin: 0;
    }
    .nav-link {
        color: #ffffff;
        &.icon {
            font-size:30px;
            padding:0 15px;
        }
    }
    button {
        position: relative;
    }
}

.navbar-brand.brand-name {
    margin: 3px 0 0 10px;
    padding: 0;
    font-weight: initial;
    font-size: 12px;
}

.navbar-translate {
    width: 100%;
    >div {
        width: 100%;
    }
    a.social {
        color: #ffffff;
        font-size: 25px;
        position: relative;
    }
    .top-commands {
        font-size: 30px;
        color: #ffffff;

        >div {
            margin-left: 10px;
        }

        a {
            color:#ffffff;
        }

        .disabled {
            color:#ffffffaa;
        }
    }
}
.fixed-top:not(.navbar-transparent) {
    .navbar-brand {
        color: #5b5d63;
    }
}

.container {
    height: 100%;
    &>div {
        height: 100%;
        &>div {
            height: 100%;
        }
    }
}

.top-bar {
    height: 76px;
}

.profile {
    color:#ffffff;
    padding-left: 10px;

    .user-fullname {
        font-weight: 600;
        text-align: right;
    }

    .commands {
        div:first-child {
            margin-right: 10px;
        }
        a {
            color: #ffffff;
            opacity: .8;
            font-size: 0.8em;;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;

            span {
                margin-left: 3px;
            }

        }
    
    }
}

.logo {
    .brandized {
        display: flex;
        white-space: nowrap;
        color:#FFFFFF;
        font-size: 2em;

        span {
            color: #000000;
            font-weight: 600;
        }
    }
}

.bar {
    display: inline-block;
    position: absolute;
    width: 164px;
    height: 15px;
    background-color: #e7e7e7;
    z-index: -1;
    top: 53px;
    left: 0px;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;

    &.btn-dark {
        background-color: #403c38;
    }
}
