<div class="content content-min-height content-margin-top" role="main">
    <h1>Angular2 - TPSIT simple template</h1>

    <div class="white-text-content">
        <p>
            This is a simple Angular2 TPSIT template
        </p>
    </div>

</div>

