INFORMATIVA AI SENSI DELL’ART. 13 D. LGS. 196/2003 E DEGLI ARTT. 13-14 GDPR UE 2016/679 RELATIVI ALLA TUTELA DEL TRATTAMENTO DEI DATI PERSONALI.
<p>
    La Fondazione AIC-NET informa, quale titolare del trattamento, che i dati personali saranno trattati con le modalità e secondo le finalità di seguito indicate.
</p>

<h2>1. Titolare del trattamento.</h2>
Titolare del trattamento (di seguito “Titolare”) è:
<br /><strong>HASH</strong>
<br /> - P. IVA: 02434860751
<br /> - sede legale: 73100 Lecce
<br /> - e-mail: info@hash.it

<h2>2. Definizione di “Dato personale” e natura dei dati trattati</h2>
Ai fini della presente Informativa Privacy, per “dato personale” si intende qualsiasi informazione che identifica o rende identificabile una persona fisica, quali, nome e cognome, data e luogo di nascita, codice fiscale, numero di telefono, indirizzo di casa ed indirizzo e-mail. Rientrano nella categoria di “Dati personali” anche i c.d. dati “particolari”, ossia quei dati che consentono di rivelare lo stato di salute di una persona fisica.

<h2>3. Finalità del trattamento</h2>
La raccolta ed il trattamento dei Dati personali sono effettuati:
<br /><strong>a. per la registrazione alla piattaforma</strong>;
<br /><strong>b. per l’accesso alla piattaforma</strong>;
<br /><strong>c. per l’invio di newsletter informative sui temi trattati dalla piattaforma</strong>.
<br />La raccolta ed il trattamento saranno improntati ai principi di correttezza, liceità, trasparenza e di tutela della riservatezza e dei diritti. 
<br />I Dati personali verranno trattati per tutto il periodo in cui si è registrati alla piattaforma e anche successivamente, come meglio precisato all’art. 11.

<h2>4. Natura obbligatoria o facoltativa del conferimento dei dati e conseguenze di un eventuale rifiuto al conferimento</h2>
Il conferimento dei Dati personali, ivi inclusi quelli particolari come indicati all’art. 3, è necessario per la registrazione e l’accesso alla piattaforma e, pertanto, l'eventuale rifiuto a fornirli in tutto o in parte darà luogo all'impossibilità di registrazione e accesso alle funzionalità della piattaforma.

<h2>5. Modalità di trattamento</h2>
Il trattamento dei Dati personali per le finalità esposte ha luogo con modalità sia automatizzate, su supporto elettronico, sia non automatizzate, nel rispetto delle regole di riservatezza e di sicurezza previste dalla legge, dai regolamenti conseguenti e da disposizioni interne.

<h2>6. Luogo di trattamento</h2>
I Dati personali vengono attualmente trattati ed archiviati presso i data center di Amazon.

<h2>7. Sicurezza dei dati conferiti</h2>
Il trattamento, la conservazione e la elaborazione dei Dati personali sono assicurati attraverso misure tecniche e organizzative appropriate per mantenerli riservati e sicuri in conformità con le nostre procedure interne. I Dati personali possono essere conservati sui nostri sistemi di Dati personali, su quelli dei nostri fornitori o su file cartacei.

<h2>8. Comunicazione dei dati</h2> 
Ferme restando le comunicazioni eseguite in adempimento di obblighi di legge e contrattuali, tutti i dati raccolti ed elaborati non potranno essere comunicati in Italia e trasferiti all'estero per alcuna finalità.

<h2>10. Tempi di conservazione dei dati</h2> 
I Suoi dati personali, verranno conservati presso i nostri archivi per tutta la durata dell’iscrizione alla piattaforma. Qualora volesse cancellarsi dalla piattaforma sarà possibile decidere di mantenere nel nostro archivio i Suoi dati anonimizzandoli.

<h2>11. Diritti dell’interessato</h2>
L’utente avrà in qualsiasi momento piena facoltà di esercitare i diritti previsti dalla normativa vigente, tra cui i seguenti diritti:
<ul>
    <li>ricevere conferma dell’esistenza dei suoi dati personali e richiedere l’accesso al loro contenuto;</li>
    <li>aggiornare, modificare e/o correggere i suoi dati personali;</li>
    <li>chiedere la cancellazione, la trasformazione in forma anonima, il blocco dei suoi dati trattati in violazione di legge;</li>
    <li>chiedere la limitazione del trattamento;</li>
    <li>opporsi per motivi legittimi al trattamento;</li>
    <li>ricevere copia dei dati forniti e chiedere che tali dati siano trasmessi ad un altro titolare del trattamento.</li>
</ul>

Per esercitare uno o più dei diritti sopra elencati, inviate specifica richiesta al Titolare:
<br /><strong>via e-mail all’indirizzo info@hash.it</strong>.
<br />
<br />I contatti sopra riportati potranno essere utilizzati per qualsivoglia richiesta di informazioni e/o chiarimenti in relazione alla presente informativa privacy.
