@import 'variables';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
    &.xs-mode {
        .content-margin-top {
            margin-top: 86px;
        }
        .content-min-height {
            min-height: calc(100vh - 103px);
        }
        .content-centered {
            margin-left: 0;
            margin-right: 0;
        }
        .white-text-content {
            border-radius: 0;
            padding: 20px;
        }

        .inner-header {
            min-height: 180px;
        }

        .hide-if-small-mode {
            display: none !important;
        }

        .h1, h1 {
            font-size: 2em;
        }
    }
    &.sm-mode {
        .content-margin-top {
            margin-top: 86px;
        }
        .content-min-height {
            min-height: calc(100vh - 103px);
        }
        .content-centered {
            margin-left: 0;
            margin-right: 0;
        }
        .inner-header {
            min-height: 180px;
        }
        .h1, h1 {
            font-size: 2.5em;
        }
        .hide-if-small-mode {
            display: none !important;
        }
    }
    &.md-mode {
        .content-margin-top {
            margin-top: 86px;
        }
        .content-min-height {
            min-height: calc(100vh - 103px);
        }
        .content-centered {
            margin-left: 10px;
            margin-right: 10px;
        }
        .inner-header {
            min-height: 180px;
        }

        .hide-if-small-mode {
            display: none;
        }
    }
    &.lg-mode {
        .content-margin-top {
            margin-top: 165px;
        }
        .content-min-height {
            min-height: calc(100vh - 76px);
        }
        .content-centered {
            margin-left: 10px;
            margin-right: 10px;
        }
        .inner-header {
            min-height: 250px;
        }
    }
    &.xl-mode {
        .content-margin-top {
            margin-top: 165px;
        }
        .content-min-height {
            min-height: calc(100vh - 76px);
        }
        .content-centered {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
        .inner-header {
            min-height: 250px;
        }
    }
}

.navbar {
    padding: 0;
}

.content {
    display: flex;
    margin: 160px auto 10px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.inner-header {
    //background-color: #B2AFAB;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* Center vertically */
    align-items: center;
    /*Center horizontaly */
    justify-content: center;

    /*Center horizontaly ie */
    -ms-flex-pack: center;

    .filter::after{
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    &.section-dark{
        .content-center,
        .category-absolute{
            z-index: 1;
        }
    }
}

.inner-content {
    position: relative;
    z-index: 2;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }
}

@media screen and (max-width: 991px) {
    .menu-wrapper .menu-collapse {
        display: none;
    }
}

@media screen and (max-width: 991px){
    .navbar-collapse {
        padding: 15px!important;

        .navbar-nav>.nav-item>.nav-link {
            color: #4c4c4c!important;
            padding: 10px 0;
        }
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
    }
}

.modal-dialog {
    h1, h2 {
        font-size: 1.5em;
        font-weight: bold;
        margin: 10px 0;
    }
}

.white-text-content {
    background-color: #fffffff8;
    color: #000000;
    padding: 30px;
    width: 100%;
    border-radius: 20px;
    font-size: 1.1em;

    ul {
        padding-left: 15px;
    }
    img {
        max-width: 100%;

        &.floating-right {
            float: right;
        }
        &.floating-left {
            float: left;
        }
    }
    a {
        color: #4088be;
        padding: 0 3px;
        border-radius: 5px;
        margin: 0 0px;
        text-decoration: underline;
    }
    strong {
        font-weight: 600;
    
        &.background {
          color: #ffffff;
          background-color: #000000aa;
          padding: 0 5px;
        }
    
        &.yellow {
          background-color: #ffca08
        }
    }
    i, em {
        background-color: #ccccccaa;
        padding: 0 5px;
    }
    h1{
        font-size: 2.0em;
        font-weight: 600;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.3em;
    }
    h4 {
        font-size: 1.2em;
    }
    h5 {
        font-size: 1.1em;
    }
    h6 {
        font-size: 1.0em;
    }
}

.headers-centered {
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        font-weight: 600;
        color: #000000aa;
    }
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

img[src*="width100"] {
    width: 100px;
    max-width: 100%;
}

img[src*="width200"] {
    width: 200px;
    max-width: 100%;
}

img[src*="width300"] {
    width: 300px;
    max-width: 100%;
}

img[src*="width400"] {
    width: 400px;
    max-width: 100%;
}

img[src*="width500"] {
    width: 500px;
    max-width: 100%;
}

img[src*="centered"] {
    margin: 0 auto;
    display: block;
}


.nav-tabs-wrapper {
    margin-left: 0;
    margin-right: 0;
}
.nav-tabs {
    border-bottom: 1px solid #a7a7a7;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),color-stop(rgba(0,0,0,0)),to(rgba(0,0,0,.05)));
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,.05));
    margin-bottom: 10px;

    .nav-item {
        font-size: 0.9em;
    }
}

.form-check-radio {
    .form-check-label {
        padding: 0 2.5em 0 1.25em;
    }
}

h1.brandized, div.brandized {
    font-family: "Lobster Two";
    font-size: 2.5em;

    span {
        background-color: #bababa;
        color: #ffffff;
        padding: 0 6px;
        border-radius: 8px;
        transform: rotate(15deg);
        display: inline-block;
        min-width: 1.2em;
        text-align: center;
        left: -1px;
        position: relative;
    }
}

.xs-mode, .sm-mode, .md-mode {
    .profile {
        padding-right: 50px;
    }
}