.image-content-editor {
    [class*='col'] {
        padding-left: 5px;
        padding-right: 5px;
    }
    text-align: initial;
    label {
        text-align: left;
        font-weight: 600;
    }
    .form-check-radio {
        margin-left: 10px;
    }
    textarea {
        min-height: 200px;
    }
    h3, h4, h5 {
        text-align: center;
    }
    h3 {
        font-weight: bold;
    }

    .well {
        min-height: 20px;
        text-align: left;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f1eae052;
        border: 1px solid #f1eae0;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    
        label {
            margin: 0;
        }
    }
    
    .no-gutters>[class*=col-] {
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .my-drop-zone { border: dashed 1px #d7cec1; }
    .nv-file-over { border: dashed 1px rgb(0, 119, 255); background-color:#c8e3ee33 } /* Default class applied to drop zones on over */
    .preview {
        text-align: center;
        img {
            max-height: 300px;
        }
    }

    .h-btn-small-icon {
        padding: 2px 0 0;
        width: 25px;
        min-width: 25px;
    
        &:last-child {
            margin-right: 0
        }
    }

    .progress-cell {
        width: 100%;
    }
    .size-cell {
        width: 160px;
    }
    .file-name-cell {
        width: 600px;
    }
    .actions-cell {
        width: 60px;
    }
}