<div class="image-content-editor">
    <h3>Immagine</h3>
    <h4>topic: {{topic}}</h4>
    <h5>{{uuid}}</h5>

    <div class="container">
        <div class="row">

            <div class="col-12 preview">
                <img src="{{content.URL}}" />
            </div>

            <div class="col-12">
                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
                    [uploader]="uploader" class="well my-drop-zone row no-gutters align-items-center">
                    <div class="col">trascinare qui uno o più file o cliccare su "Seleziona"</div>
                    <div class="col-auto">
                        <label class="btn custom-input-btn">
                            <input type="file" ng2FileSelect [uploader]="uploader" name="file" style="display:none"
                                accept="*" multiple>
                            <i class="fa fa-cloud-upload"></i> Seleziona
                        </label>
                    </div>
                </div>
            </div>

            <div *ngIf="uploader" class="col-12" style="margin-bottom: 20px">
                <div class="d-flex flex-column">
                    <div *ngFor="let item of uploader.queue; let i = index" class="items-row">
                        <!-- ROW -->
                        <!--------->
                        <div class="d-flex flex-row align-items-center">
                            <div class="p-2 file-name-cell"><strong>{{ item?.file?.name }}</strong></div>
                            <div class="p-2" class="p-2 size-cell">{{ item?.file?.size/1024/1024 | number:'.2' }} MB
                            </div>
                            <div class="p-2" class="p-2 progress-cell">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </div>
                            <!-- actions -->
                            <div class="actions-cell">
                                <!--button type="button"
                                    class="btn btn-success btn-just-icon h-btn-small-icon h-btn-small-icon"
                                    (click)="item.upload()"
                                    [disabled]="item.isReady || item.isUploading || item.isSuccess"><i
                                        class="fa fa-cloud-upload"></i></button-->
                                <button type="button"
                                    class="btn btn-danger btn-just-icon h-btn-small-icon h-btn-small-icon"
                                    (click)="remove(i)"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="uploader?.queue?.length>0">
                    <div class="row">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 form-group topic">
                <label for="lastName" class="strong">Topic:</label>
                <input type="text" class="form-control" name="lastName" placeholder="topic" [(ngModel)]="content.topic"
                    autocomplete="off">
            </div>
            <div class="col-12 col-md-6 form-group">
                <label for="firstName" class="strong">Nome:</label>
                <input type="text" class="form-control" name="firstName" placeholder="nome" [(ngModel)]="content.name"
                    autocomplete="off">
            </div>
            <div class="col-12 col-md-6 form-group">
                <label for="lastName" class="strong">Lingua:</label>
                <input type="text" class="form-control" name="lastName" placeholder="lingua" [(ngModel)]="content.lang"
                    autocomplete="off">
            </div>

            <div class="col-12 form-group tags">
                <label for="tags" class="strong">Tag:</label>
                <input type="text" class="form-control" name="tags"
                    placeholder="inserire uno o più tag separati da virgole" [(ngModel)]="content.tags"
                    autocomplete="off">
            </div>

            <div class="col-12 form-group tags">
                <label for="description" class="strong">Descrizione:</label>
                <input type="text" class="form-control" name="tags" placeholder="descrizione"
                    [(ngModel)]="content.description" autocomplete="off">
            </div>
            <div *ngIf="content.URL" class="col-12 form-group tags">
                <label for="URL" class="strong">URL:</label>
                <input type="text" class="form-control" name="URL" placeholder="" [(ngModel)]="content.URL"
                    autocomplete="off" disabled>
            </div>

        </div>

        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-center buttons">
                <div class="p-2">
                    <button *ngIf="uuid" class="btn btn-primary btn-block btn-round"
                        style="max-width: 300px; display: initial;" (click)="uploader?.queue?.length>0?uploader.uploadAll():updateContent()">Modifica</button>
                </div>
            </div>

        </div>

    </div>