ul.level-2 {
    .level-header {
        background-color: #75bcf1;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        padding: 8px;
    }
}

.sub-level {
    margin-left: 5px;

    a.nav-link {
        color: #66a2cf!important;
    };
}


.close-menu {
    position: absolute;
    top: 0px;
    left: -48px;
    color: white;
    background-color: #ffffff57;
    height: 75px;
    border-radius: 20px 0 0 20px;
    padding: 0 0 0;
    font-size: 11px;
    width: 47px;
}