<div class="example-map container">
    <h3 class="text-center">Mappa</h3>
  
    <button type="button" class="btn btn-warning btn-round h-reset" (click)="mapReset()"><i class="fa fa-map-marker"></i> Reset mappa</button>
    <agm-map [(latitude)]="latitude" [(longitude)]="longitude" [(zoom)]="zoom" [scrollwheel]="false" (mapReady)="mapReady($event)">
  
      <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
          [longitude]="m.lng" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
  
          <agm-info-window>
            <div><strong>{{m.name}}</strong></div>
            <div *ngIf="zoom<13" (click)="zoomItem(i)" class="h-small-button h-detail">dettaglio mappa</div>
            <div class="h-small-button h-info">informazioni</div>
          </agm-info-window>
  
        </agm-marker>
      </agm-marker-cluster>
  
    </agm-map>
  
  </div>
