<div class="content content-min-height content-margin-top" role="main">
    <h1>Links list example</h1>

    <div class="white-text-content">
        <div *ngFor="let item of items; let i=index" class="item-row d-flex flex-row">

            <a [routerLink]="[item.routerLink]" class="btn btn-primary btn-round" style="width: 300px;">{{item.name}}</a>
            <div style="width: 30%;background-color:#EEEEEE;margin: 0 10px;">{{item.routerLink}}</div>
            <div style="width: 70%;background-color:#EEEEEE;margin: 0 10px;">{{item.description}}</div>
            <div style="width:30px;text-align: center;">{{i+1}}</div>

        </div>
    </div>
</div>



